{
  "extends": "@maiertech",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "page": true
  },
  "rules": {
    "babel/object-curly-spacing": ["error", "always"],
    "shopify/jsx-no-hardcoded-content": "off"
  }
}
