{
  "extends": ["@mdotasia"],
  "globals": {
    "page": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.stories.jsx",
          "config/**/*.js",
          "test/**/*.js"
        ]
      }
    ]
  }
}
